<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/vendors/d3/d3.js"></script>
    <script src="/javascripts/vendors/angular/angular.js"></script>
    <script src="/javascripts/directives/d3Test.js"></script>
  </head>
  <body ng-app='graphTest'>
    <h1><%= title %></h1>
    <div graph-line></div>
  </body>
</html>
