<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app='noaaDataApp'>
    <div class="main-container" ng-controller="WeatherDetailsCtrl">
      <h1><%= title %></h1>
      <h2>{{greetings}}</h3>
      <div class="details">
        <span class="temp">Temperature (F): {{hover.temp}}</span><br>
        <span class="dew">Dewpoint (F): {{hover.dew}}</span>
      </div>
      <div graph-line class="graph-wrapper"></div>
    </div>

    <!-- Scripts -->
    <script src="/javascripts/vendors/d3/d3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
    <script src="/javascripts/app/app.js"></script>
    <script src="/javascripts/app/services/chartData.js"></script>
    <script src="/javascripts/app/directives/d3Test.js"></script>
    <script src="/javascripts/app/controllers/detailsController.js"></script>
  </body>
</html>
